/* Todo.css */
.TodoForm {
  height: 50px; 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
} 
.TodoForm .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 70%;
  }
  .TodoForm .header button {
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .TodoForm .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }